<p id="notice"><%= notice %></p>

<%= render @bird %>

<div>
  <%= link_to "Edit this bird", edit_bird_path(@bird) %> |
  <%= link_to "Back to birds", birds_path %>

  <%= button_to "Destroy this bird", bird_path(@bird), method: :delete %>
</div>
